<main class="main">
  <h1 class="main__h1">TODO List</h1>
  <h4 class="main__h4">A place to store your to-dos</h4>
  <label for="filter"></label>
  <input
    id="filter"
    name="filter"
    type="text"
    placeholder="Filter your to-dos"
    class="main__filter-input"
  />
  <ol>
    <li *ngFor="let todo of todos; let i = index" class="main__todo-li">
      <button class="main__complete-btn">Complete</button>{{ todo.task }} -
      {{ todo.completed }}
      <button class="main__delete-btn">
        <i class="fa fa-times" aria-hidden="true"></i>
      </button>
    </li>
  </ol>
  <form class="main__todo-form" method="GET" action="">
    <label for="todo"></label>
    <input
      id="todo"
      name="todo"
      type="text"
      placeholder="Add your to-do"
      class="main__todo-input"
    />
    <input type="submit" value="Add" class="main__todo-submit-input" />
  </form>
</main>
