<main class="main">
  <header>
    <h1 class="main__h1">TODO List</h1>
    <h4 class="main__h4">A place to store your to-dos</h4>
  </header>

  <!-- Filtering To-Do's-->
  <form class="main__todo-form">
    <label for="filter"></label>
    <input
      id="filter"
      name="filter"
      type="text"
      placeholder="Filter your to-dos"
      class="main__filter-input"
    />
  </form>

  <!-- List of all existing tasks-->
  <ol>
    <li *ngFor="let todo of todos; let i = index" class="main__todo-li">
      <div class="main__todo-div">
        <button
          (click)="todo.completed = true"
          *ngIf="todo.completed === false"
          class="main__complete-btn"
        >
          Complete
        </button>
        <p class="main__todo-p" [ngClass]="{ completed: todo.completed }">
          {{ todo.task }}
        </p>
        <div class="main__deleteBtn-div">
          <button (click)="deleteTodo(i)" class="main__delete-btn">
            <i class="fa fa-times" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </li>
  </ol>

  <!-- Form to add new todos -->
  <form class="main__todo-form" method="GET" action="">
    <label for="todo"></label>
    <input
      id="todo"
      name="todo"
      type="text"
      placeholder="Add your to-do"
      class="main__todo-input"
      [(ngModel)]="newTodo"
    />
    <input
      (click)="addNewTodo()"
      type="submit"
      value="Add"
      class="main__todo-submit-input"
    />
  </form>
</main>
