body {
  height: 100vh;
  font-family: "Open Sans", sans-serif;
  background: linear-gradient(to right, #f857a6, #ff5858);
}

input,
button {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}
